@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.service-box {
  max-width: 400px; }

.about-icon {
  color: #1f7a8c; }

.test-icon {
  color: #fff; }

#cv-download {
  color: #1f7a8c;
  text-decoration: underline; }

.progress-bar {
  background-color: #1f7a8c !important; }

img {
  border-radius: 50%;
  margin: 10px;
  border: 10px solid #153243;
  box-sizing: border-box;
  box-shadow: 10px 10px 30px -16px rgba(0, 0, 0, 0.75); }

.about-cian {
  padding-right: 2em; }

#about {
  padding-top: 5em;
  height: 100%;
  background-color: #fff;
  padding-bottom: 2em;
  box-shadow: 10px 10px 30px -16px rgba(0, 0, 0, 0.75); }

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards; }
  .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s; }

@keyframes progress {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#projects {
  padding-top: 5em;
  height: 100%;
  background-color: #e9ecef;
  padding-bottom: 5em;
  box-shadow: 10px 10px 30px -16px rgba(0, 0, 0, 0.75); }

#contact {
  padding-top: 2em;
  height: 80%;
  background-color: #153243;
  width: 100%;
  padding-bottom: 2em; }

label {
  color: #fff; }

.contact-header {
  color: white; }

ul.horizontal-list {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.horizontal-list li {
  display: inline;
  margin: 0 5px; }

.horizontal-list a.github:hover svg,
.horizontal-list a.linkedin:hover svg,
.horizontal-list a.email:hover svg {
  color: #1f7a8c; }

.horizontal-list a.project-icon:hover svg {
  color: #fff; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 2em;
  height: 2em;
  font-size: 3em; }

.social-circle li svg {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover svg,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle svg {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

a {
  background-color: #153243; }

.linkedin {
  color: #fff; }

.github {
  color: #fff; }

#base {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #153243;
  z-index: 999;
  -webkit-clip-path: polygon(51% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(51% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  top: 430%;
  box-shadow: 10px 10px 30px -16px rgba(0, 0, 0, 0.75); }

.polygon {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
  align-content: center; }
  .polygon svg {
    display: inline-block;
    position: relative; }
  .polygon polygon {
    width: 100%;
    fill: #1f7a8c; }

.back {
  color: #bfdbf7;
  text-decoration: underline; }

#contactHr,
#contactText {
  color: #fff;
  background-color: #fff; }

#jumbo {
  position: relative;
  color: #fff;
  background-color: transparent;
  z-index: 99;
  height: 100vh;
  display: flex;
  align-items: center; }

#jumbo-button {
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.5s;
  color: white; }

#jumbo-button:hover {
  background-color: #fff;
  color: black; }

.jumbo-arrow {
  transition: all; }

#jumbo-button:hover > .jumbo-arrow {
  transform: rotateZ(90deg); }

.jumbo-btn-div {
  padding-top: 2em; }

.jumbo-name {
  color: #ffffff; }

.jumbo-animation {
  background: linear-gradient(180deg, #153243, #db504a);
  background-size: 400% 400%;
  position: fixed;
  top: 3.5em;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1; }

#jumbo-text {
  font-size: 2em; }

#jumbotron {
  height: 100vh; }

nav {
  z-index: 99;
  padding-bottom: 1em; }

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff; }
  #mainNav .navbar-brand {
    font-weight: 700;
    color: #153243; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #db504a; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #db504a; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
      color: #db504a !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: #fff; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: #fff; }
      #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: #fff; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #db504a; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #db504a; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #212529; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #db504a; } }

body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat" !important; }

.text-primary {
  color: #db504a !important; }

.btn {
  font-weight: 700;
  border: none;
  border-radius: 300px; }

.btn-xl {
  padding: 1rem 2rem; }

.btn-primary {
  background-color: #db504a;
  border-color: #db504a; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #d73b35 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; }
