//.....Nav

nav {
  z-index: 99;
}

//.....Jumbo

#jumbo {
  position: relative;
  color: white;
  background-color: transparent;
  z-index: 98;
  padding-top: 10%;
  height: 80vh;

  display: flex;
  align-items: center;
}

#jumbotron-button {
  background-color: transparent;
  border: 2px solid #fff;
}

.jumbo-btn-div {
  padding-top: 2em;
}

.jumbo-name {
  color: #60b660;
}

.jumbo-animation {
  background-color: #222222;
  position: fixed;
  top: 3.5em;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
}
